* {
  margin: 0 !important;
  padding: 0 !important;
  /* background-color: black !important; */
  

}
body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #29313a;
  background: -webkit-linear-gradient(to right, #1b2127, #38424d);
  background: linear-gradient(to right, #161b20, #313942);

}
.main-page {
  height: 100vh !important;
  padding-top: 65px !important;
}
.footer-style {
  width: 100%;
  background-color: transparent;
}
.route-item {
  height: 100%;
}
.image-style {
  -webkit-box-shadow: 5px 5px 13px -1px rgba(255, 255, 255, 0.52);
  box-shadow: 5px 5px 13px -1px rgba(255, 255, 255, 0.52);
  width: 150px;
  height: 150px;
  background-image: url(./assets/img-cv-2.webp);
  background-size: cover;
  background-position: 8px 0px;
}
.cv-margin{
  /* width: 400px; */
  background-color: transparent;
}
.nav-box{
  /* height: 60px; */
  background-color: rgb(83, 88, 94) !important;
  z-index: 10;
  transition: 500ms;
}

.nav-box_top{
  background-color: transparent !important;
  transition: 500ms;
}

.collapse_true{
  background-color: rgb(83, 88, 94) !important;
}

.text-darkk{
  color: black !important;
}

@media screen and (min-width: 992px){
  .nav-box{
    height: 60px;
    /* background-color: rgb(83, 88, 94) !important; */
  }
}
.progress{
  height: 15px;
  width: 15px;
  background-color: rgb(150, 228, 150);
  border: solid 1px;
  border-radius: 0;
  margin: 0 0.1rem !important;
}
.btn-nostyle{
  background-color: transparent;
  border: none;
  text-decoration: underline;
}
.btn-nostyle:focus-visible{
  outline: none;
}

.disabled-forme{
  color: #c5c5c5 !important;
}
.list-style{
  -webkit-box-shadow: 5px 5px 13px -1px rgba(255, 255, 255, 0.52);
  box-shadow: 5px 5px 13px -1px rgba(255, 255, 255, 0.52);
}
.footer-font{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 10px !important;
  font-weight: 100 !important;
  color: #c5c5c5 !important;
}
.fs-7{
  font-size: 14px;
}
.py-05{
  padding-top: 0.15rem !important;
  padding-bottom: 0.15rem !important;
}
@media screen and (min-width: 576px) {
  .list-box{
    width: 576px;
  }
}

.footer-general-style{
  justify-self: flex-end !important;
}

.version-style{
  width: 150px;
}

.proyect-box{
  width: 200px;
  height: 150px;
  border-radius: 30px;
  position: relative;
  -webkit-box-shadow: 5px 5px 13px -1px rgba(255, 255, 255, 0.52);
  box-shadow: 5px 5px 13px -1px rgba(255, 255, 255, 0.52);
}

.proyect-box:hover{
  transform: scale(1.1);
  transition: 300ms;
}

.bg-opacity{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -1px !important;
  cursor: pointer;
}


@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
#marketar{
  background-image: url(./assets/market-img.webp);
  background-position: center;
  background-size: cover;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
}