* {
  margin: 0 !important;
  padding: 0 !important;
  /* background-color: black !important; */
  

}
body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #29313a;
  background: -webkit-linear-gradient(to right, #1b2127, #38424d);
  background: linear-gradient(to right, #161b20, #313942);

}
.main-page {
  height: 100vh !important;
  padding-top: 65px !important;
}
.footer-style {
  width: 100%;
  background-color: transparent;
}
.route-item {
  height: 100%;
}
.image-style {
  -webkit-box-shadow: 5px 5px 13px -1px rgba(255, 255, 255, 0.52);
  box-shadow: 5px 5px 13px -1px rgba(255, 255, 255, 0.52);
}
.cv-margin{
  /* width: 400px; */
  background-color: transparent;
}
.nav-box{
  /* height: 60px; */
  background-color: rgba(252, 252, 252, 0.4) !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 10;
}
@media screen and (min-width: 992px){
  .nav-box{
    height: 60px;
    background-color: rgba(252, 252, 252, 0.2) !important;
  }
}
.progress{
  height: 15px;
  width: 15px;
  background-color: rgb(150, 228, 150);
  border: solid 1px;
  border-radius: 0;
  margin: 0 0.1rem !important;
}
.btn-nostyle{
  background-color: transparent;
  border: none;
  text-decoration: underline;
}
.btn-nostyle:focus-visible{
  outline: none;
}
.modal-style{
  left: 33.33%;
  top: 3%;
}
/* .footer-font{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 13px !important;
  font-weight: 100 !important;
  
} */
.disabled-forme{
  color: #c5c5c5 !important;
}
.list-style{
  -webkit-box-shadow: 5px 5px 13px -1px rgba(255, 255, 255, 0.52);
  box-shadow: 5px 5px 13px -1px rgba(255, 255, 255, 0.52);
}
.footer-font{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 10px !important;
  font-weight: 100 !important;
  color: #c5c5c5 !important;
}
.fs-7{
  font-size: 14px;
}
.py-05{
  padding-top: 0.15rem !important;
  padding-bottom: 0.15rem !important;
}
@media screen and (min-width: 576px) {
  .list-box{
    width: 576px;
  }
}